*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../../assets/fonts/ProductSans.ttf);
}
body{
    margin: 25px;
}
.hyperlinks{
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
#click_here_button{
    font-size: 35px;
    font-weight: bold;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    background-color: navy;
    cursor: pointer;
}
.hyperlinks:link{
    color: orange;
}
.hyperlinks:visited{
    color: red;
}
.hyperlinks:active{
    color: yellowgreen;
}
.hyperlinks:hover{
    color: greenyellow;
    background-color: gray;
}
#click_here_button:active{
    color: navy;
    background-color: lightgray;
}
#color_box_container{
    width: 1200px;
    height: 120px;
    background-color: gray;
    margin: 10px;
}
.color_box{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    float: left;
}
#color_box_container:hover > .color_box{
   background-color: navy;
}
#color_box_container:hover > .color_box:first-child {
    background-color: pink;
    border-radius: 20px;
}
#color_box_container:hover > .color_box:last-child{
    background-color: aqua;
    border-radius: 30px;
}
#color_box_container:hover > .color_box:nth-child(2) {
    background-color: yellow;
    border-radius: 40px;
}