.container{
    height: 600px;
    width: 100%;
    border: 1px solid black;
    display: flex;   
    /* justify-content: center; */
    /* alex eema and elex Ocupice reming space display flex-grow: ; */
}
#A{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 1px solid black;
}
#B{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 1px solid black;
}
#C{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 1px solid black;
}