#Main_container{
    height: 930px;
    width: 100%;
    border: 1px solid black;
    grid-template-rows: 200px 200px 200px 200px 200px;

    display: grid;
}
#Main_container div:first-child{
    background-color: aqua;
    grid-column: 1/4;
}

#Main_container div:nth-child(2){
    background-color: yellow;
    grid-row: 2/4;
}
#Main_container div:nth-child(3){
    background-color: pink;
    grid-row: 2/4;
}

#Main_container div:nth-child(4){
    background-color: green;
    grid-row: 2/5;
}
#Main_container div:last-child{
    background-color: navy;
    grid-row: 4/5;
}