/*
border specific properties
    1.border-width: width-value;
    2.border-style: style-values;
    3.border-color: color-value;
border shorthand property
    border: width style color;
specific sides border specific properties
    1.border-top-width: width-value;
    2.border-top-style: style-values;
    3.border-top-color: color-value;
    4.border-right-width: width-value;
    5.border-right-style: style-values;
    6.border-right-color: color-value;
    7.border-bottom-width: width-value;
    8.border-bottom-style: style-values;
    9.border-bottom-color: color-value;
    10.border-left-width: width-value;
    11.border-left-style: style-values;
    12.border-left-color: color-value;
specific sides border shorthand property
    1.border-top: width style color;
    2.border-right: width style color;
    3.border-bottom: width style color;
    4.border-left: width style color;
*/

.bordered_blocks{
    width: 100px;
    height: 100px;
    float: left;
    /* border specific properties */
    border-width: 30px;
    border-color: black;
}
#solid_bordered_block{
    border-style: solid;
}
#dashed_bordered_block{
    border-style: dashed;
}
#dotted_bordered_block{
    border-style: dotted;
}
#double_bordered_block{
    border-style: double;
}
#inset_bordered_block{
    border-style: inset;
}
#outset_bordered_block{
    border-style: outset;
}
#groove_bordered_block{
    border-style: groove;
}
#ridge_bordered_block{
    border-style: ridge;
}
#border_shorthand_property_bordered_block{
    border-width: 30px;
    border-style: solid;
    border-color: green;
}
#mixed_bordered_block{
    /* specific side border specific properties */
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: black;
    border-right-width: 30px;
    border-right-style: dashed;
    border-right-color: orange;
    border-bottom-width: 30px;
    border-bottom-style: dotted;
    border-bottom-color: black;
    border-left-width: 30px;
    border-left-style: double;
    border-left-color: orange;
    /* specific sides border shorthand property */
    border-top: 30px solid orange;
    border-right: 30px dashed navy;
    border-bottom: 30px dotted orange;
    border-left: 30px double navy;
}