*{
    margin: 0px;
    padding: 0px;
}
#main_container{
    height: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    border: 1px solid black;
}
#A1{
    border: 2px solid;  
    background-color: aqua;
}

#A2{
    border: 2px solid;
    background-color: aqua;
}

#A3{
    border: 2px solid;
    background-color: aqua;
}
